<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/tbritodias91/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="tbritodias91"/>
            <add key="ClearTextPassword" value="d26515a6166e337ca146bcf4f003f66812854e5e" />
        </github>
    </packageSourceCredentials>
</configuration>