<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/tbritodias91/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="tbritodias91"/>
            <add key="ClearTextPassword" value="569f849170ff13e796b569e76baaa8138edbbb2b" />
        </github>
    </packageSourceCredentials>
</configuration>